<button class="btn btn-primary" routerLink="/" style="margin-left: 10px;">Back</button>
<!-- <button type="button" class="btn btn-primary">Primary</button> -->
<div *ngIf="coffee | async; let coffee;">
  <div class="container text-center">
    <div class="row border border-success">
      <div class="offset-md-2 col-md-3 lineBetweenColumns">
        <strong>Id: </strong>
      </div>
      <div class="col-md-4">
        {{coffee.id}}
      </div>
    </div>

    <div class="row border border-success">
      <div class="offset-md-2 col-md-3 lineBetweenColumns">
        <strong>UID: </strong>
      </div>
      <div class="col-md-4">
        {{coffee.uid}}
      </div>
    </div>

    <div class="row border border-success">
      <div class="offset-md-2 col-md-3 lineBetweenColumns">
        <strong>Blend Name: </strong>
      </div>
      <div class="col-md-4 ">
        {{coffee.blend_name}}
      </div>
    </div>

    <div class="row border border-success">
      <div class="offset-md-2 col-md-3 lineBetweenColumns">
        <strong>Origin: </strong>
      </div>
      <div class="col-md-4">
        {{coffee.origin}}
      </div>
    </div>

    <div class="row border border-success">
      <div class="offset-md-2 col-md-3 lineBetweenColumns">
        <strong>Variety: </strong>
      </div>
      <div class="col-md-4">
        {{coffee.variety}}
      </div>
    </div>

    <div class="row border border-success">
      <div class="offset-md-2 col-md-3 lineBetweenColumns">
        <strong>Notes: </strong>
      </div>
      <div class="col-md-4">
        {{coffee.notes}}
      </div>
    </div>

    <div class="row border  border-success">
      <div class="offset-md-2 col-md-3 lineBetweenColumns">
        <strong>Intensifier: </strong>
      </div>
      <div class="col-md-4">
        {{coffee.intensifier}}
      </div>
    </div>
  </div>